{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "SqlConnectionString": "Driver={ODBC Driver 17 for SQL Server};Server=tcp:<YOUR-SERVER>.database.windows.net,1433;Database=<YOUR-DATABASE>;Uid=<YOUR-USER>;Pwd=<YOUR-PASSWORD>;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;",
    "CorsAllowedOrigins": "*"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
